.intro{
    position: absolute;
    align-items: center;
    margin-left: 250px;
    font-size: 50px;
}
.photo{
    position: absolute;
    top: 190px;
    left: 1280px;
}
/* .txtanime{
    background: linear-gradient(to right, red ,blue);
    background-clip: text;
    color: transparent;
} */
.navbar a {
    text-decoration: none;
    color: #ffff;
    margin: 0 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}
